@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

iframe, img {
    vertical-align: bottom;
}